.about-top {
    padding-top: 0;
}

.about-tour {
    padding-top: 1rem;
    display: none;
}

.studies-container {
    padding-top: 0;
}

@media (min-width: $breakpoint-med) {
    .about-top {
        padding-top: 5rem;
    }

    .about-tour {
        display: block;
    }

    .studies-container {
        padding-top: 2rem;
    }
}
