pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.4;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
    border-radius: 4px;

    code {
        padding: 0;
        font-size: 100%;
        color: inherit;
        background-color: transparent;
    }
}

code {
    padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

pre.normal {
    background: none;
    margin: 0;
    border: none;
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    span {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
}
