#duck {
    position: absolute;
    bottom: 10px;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    padding: 0;
    display: none;
}

@media (min-width: $breakpoint-med) {
    #duck {
        display: block;
    }
}
