kbd {
    padding: 2px 4px;
    font-size: 90%;
    font-weight: 700;
    color: $color-font-dark;
    background-color: darken($color-bg, 3%);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
