.work {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(206, 210, 210);

    &:last-child {
        border-bottom: none;
    }

    .work-title {
        color: $color-font-light;
        margin-bottom: 0;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

    article {
        margin-bottom: 0;
    }

    .techs {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .work-content {
        padding: 0 0 0 1rem;

        h4 {
            margin-bottom: 0;
        }
    }
}

.work-techs-desk {
    display: none;
}

.work-techs-mobile {
    display: block;
}

.work-images {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: $breakpoint-med) {
    .work-techs-desk {
        display: inline;
    }

    .work-techs-mobile {
        display: none;
    }

    .work-images {
        padding-top: 1rem;
        padding-bottom: 0;
        padding-left: 1rem;
    }
}
