.experience {
    header {
        font-size: 1.2rem;
        background: darken($color-bg, 3%);
        padding: 10px;

        small {
            text-transform: none;
            display: block;
            color: $color-font-light;
            font-size: 1rem;
        }
    }

    .experience-content {
        padding: 10px;
    }

    .experience-description {
        border-bottom: 1px solid rgb(206, 210, 210);
    }
}
