.content {
    padding-top: 0;
    padding-bottom: 0;

    h1, h2, h3, h4, h5, h6 {
        color: $color-font;
    }

    h2 {
        font-size: 2.5rem;
        margin-top: 0.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    a {
        text-decoration: none;
        color: $color-font;
    }

    .main {
        padding: 0.5rem;
    }
}

@media (min-width: $breakpoint-med) {
    .content {
        max-width: 48rem;
        margin-left: 20rem;
        margin-right: 2rem;
        padding-top: 4rem;
        padding-bottom: 3rem;

        .main {
            margin-left: 2rem;
            padding: 0;
        }
    }
}

@media (min-width: $breakpoint-large) {
    .content {
        margin-left: 22rem;
        margin-right: 4rem;

        .main {
            margin-left: 8rem;
        }
    }
}
