html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    background: $color-bg;

    .full {
        background: $color-font;
    }
}

* {
    font-family: $font-family;
}
