.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    //@media only screen and (min-width: $breakpoint-small) {
    //    width: 80%;
    //}
    //
    //@media only screen and (min-width: $breakpoint-large) {
    //    width: 100%;
    //    max-width: 60rem;
    //}
}

.left {
    float: left;
}

.visible-block-desk {
    display: none;
}

@media (min-width: $breakpoint-med) {
    .visible-block-desk {
        display: block;
    }
}
