dl {
    dt {
        font-weight: 700;
    }
}

@media (min-width: $breakpoint-med) {
    .dl-horizontal {
        dt {
            float: left;
            width: 160px;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 700;
        }

        dd {
            margin-left: 180px;
        }
    }
}
