.sidebar {
    width: auto;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    color: rgba(255,255,255,.9);
    background-color: $color-font;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.5rem;
        line-height: 4rem;
    }

    h2 {
        color: rgba(255, 255, 255, .6);
        font-weight: 400;
        margin-top: 0;
    }

    nav {
        margin-top: 10px;

        a {
            display: block;
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            margin-top: 3px;

            &.active {
                font-weight: 700;

                &:before, &:after {
                    content: " - ";
                    font-weight: 400;
                }
            }

            &:hover {
                position: initial;
            }
        }
    }
}

@media (min-width: $breakpoint-med) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 4rem 1rem 1rem 3rem;
        text-align: left;
        width: 18rem;

        h1 {
            font-size: 4.25rem;
        }

        h2 {
            margin-top: 15px;
        }

        nav {
            margin-top: 80px;

            a {
                font-size: 1.5rem;

                &.active {
                    &:before, &:after {
                        content: none;
                    }
                }

                &:hover {
                    position: relative;
                    left: 0.2rem;
                }
            }
        }
    }
}
