.section-title {
    border-bottom: 3px solid $color-font;
    margin-bottom: 15px;

    small {
        font-size: 0.8rem;
        //float: left;
        //margin-top: 0.6rem;
        //margin-bottom: 0.6rem;
    }
}

h3 {
    margin-bottom: 15px;
}

@media (min-width: $breakpoint-med) {
    .section-title {
        small {
            float: right;
            font-size: 0.8rem;
            position: relative;
            bottom: -10px;
        }
    }
}
