$font-family: "PT Sans", Helvetica, sans-serif;

$color-bg: #ecf0f1;
$color-font: #e67e22;
$color-font-light: #7f8c8d;
$color-font-dark: #000000;

$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px
